Flow1.json.json
[{"id":"6e1cd9ab.8e0ca8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5c4a5566.b2615c","type":"rpi-gpio out","z":"6e1cd9ab.8e0ca8","name":" LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":220,"wires":[]},{"id":"2f3e82fa.2314be","type":"inject","z":"6e1cd9ab.8e0ca8","name":"ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["5c4a5566.b2615c","91991f28.1b705"]]},{"id":"7151dad5.c1e084","type":"inject","z":"6e1cd9ab.8e0ca8","name":"off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["5c4a5566.b2615c","91991f28.1b705"]]},{"id":"91991f28.1b705","type":"debug","z":"6e1cd9ab.8e0ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"12d7e843.e31ab8","type":"rpi-gpio in","z":"6e1cd9ab.8e0ca8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":280,"y":420,"wires":[["53b41596.18e69c","e9387415.61d198"]]},{"id":"cfa02bbc.d64098","type":"rpi-gpio out","z":"6e1cd9ab.8e0ca8","name":" LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":990,"y":460,"wires":[]},{"id":"53b41596.18e69c","type":"debug","z":"6e1cd9ab.8e0ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":360,"wires":[]},{"id":"e9387415.61d198","type":"switch","z":"6e1cd9ab.8e0ca8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":440,"wires":[["9b246e74.53b6a"],["43b13f2d.df257"]]},{"id":"9b246e74.53b6a","type":"change","z":"6e1cd9ab.8e0ca8","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["cfa02bbc.d64098"]]},{"id":"43b13f2d.df257","type":"change","z":"6e1cd9ab.8e0ca8","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[["cfa02bbc.d64098"]]}]