Flow3.json.json
[{"id":"8be50ffa.31eb7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efdf0b17.908688","type":"inject","z":"8be50ffa.31eb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["cb00241e.db45b8"]]},{"id":"cb00241e.db45b8","type":"function","z":"8be50ffa.31eb7","name":"payload","func":"msg.headers={\n    deviceKey:\"pMQXznJBlvbZaHnW\"\n    };\n    \nmsg.payload=\"temp,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["a9b29264.c6097"]]},{"id":"a9b29264.c6097","type":"http request","z":"8be50ffa.31eb7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0OFkSja/datapoints.csv","tls":"","proxy":"","authType":"","x":630,"y":120,"wires":[["68572b10.386404"]]},{"id":"68572b10.386404","type":"http response","z":"8be50ffa.31eb7","name":"","statusCode":"","headers":{},"x":890,"y":100,"wires":[]}]